/* Theme-scoped variables (light vs dark) */
[data-md-color-scheme="default"] {
  --page-bg-image: url("hero.webp");
  /*--page-overlay-top: rgba(248, 231, 199, 0.90); */
  --page-overlay-top: rgba(234, 243, 241, 0.80); 
  --page-overlay-bot: rgba(195, 224, 218, 0.75);
  --page-bg-filter: brightness(1) contrast(0.9) saturate(1);
  --md-primary-fg-color:        #2D767F;
  --md-primary-fg-color--light: #67E8F9;  /* optional */
  --md-primary-fg-color--dark:  #155E75;  /* optional */
  --md-accent-fg-color:         #F59E0B;
}

[data-md-color-scheme="slate"] {
  --page-bg-image: url("hero.webp");
  --page-overlay-top: rgba(39, 58, 61, 0.80);
  --page-overlay-bot: rgba(0, 0, 0, 0.85);
  --page-bg-filter: brightness(0.5) contrast(0.9) saturate(0.7);
  --md-primary-fg-color:        #003e47;
  --md-primary-fg-color--light: #A5F3FC;  /* optional */
  --md-primary-fg-color--dark:  #0891B2;  /* optional */
  --md-accent-fg-color:         #FBBF24;
}

/* Fixed, non-scrolling background image, filtered to grayscale */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -2;
  pointer-events: none;
  background: var(--page-bg-image) center -150px / cover no-repeat;
  filter: var(--page-bg-filter);
}

/* Gradient overlay that sits above the image but below content */
body::after{
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background:
    linear-gradient(to bottom, var(--page-overlay-top), var(--page-overlay-bot));
}

/* Make site chrome sit above it and be transparent */
.md-container,
.md-main,
.md-main__inner,
.md-content {
  position: relative;
  z-index: 1;
  background: transparent !important;
}