/* Center and widen the landing content a bit */
.hero {
  text-align: center;
  padding: 3rem 1rem 2rem;
}
.hero h1 {
  margin: 0 0 .3rem;
  font-size: 3rem;
  font-weight: 800;
  opacity: 1;
  letter-spacing: -0.01em;
  line-height: 1.1;
}
.hero h2 {
  font-size: 1.1rem;
  opacity: 1;
  margin: .25rem 0;
}
.hero .cta .md-button {
  margin: .25rem .4rem;
}

.md-header__tabs .md-tabs {
  width: auto;
  margin-right: 1rem;
  display: flex;
}



/* Remove the left gutter on the homepage for a roomier feel */
.md-content__inner {
  margin-top: 0;
}

